body {
  color: #cccccc;
  background-color: #1f1f1f;
}

#product-catalog {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

#product-catalog-title {
  text-align: center;
  margin-bottom: 30px;
}

.product-info {
  border: 1px solid #cccccc;
  border-radius: 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.product-general-info,
.product-details {
  margin-bottom: 30px;
}
