body {
  color: #cccccc;
  background-color: #1f1f1f;
}

#filters {
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 30px;
}

#category-filter {
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 50vh;
  margin-bottom: 30px;
}

tr {
  cursor: pointer;
}

th,
td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

td button {
  margin: 0 5px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

.modal-content {
  background: #cccccc;
  color: #1f1f1f;
  padding: 24px;
  border-radius: 10px;
}

.outgoing-formik {
  display: flex;
  flex-direction: column;
}

.outgoing-formik > * {
  margin-bottom: 10px;
}

.error {
  color: red;
}
