body {
  color: #cccccc;
  background-color: #1f1f1f;
}

#filters {
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 30px;
  width: 20%;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 50vh;
}

th,
td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

#category-filter {
  margin-right: 10px;
}
